alembic==1.4.0
argcomplete==1.11.1
asgiref==3.2.3
asn1crypto==0.24.0
attrs==19.3.0
bcrypt==3.1.7
blinker==1.4
certifi==2018.8.24
cffi==1.13.2
chardet==3.0.4
Click==7.0
cryptography==2.8
Django==3.0.2
Flask==1.1.1
httplib2==0.11.3
idna==2.6
image==1.5.27
itsdangerous==1.1.0
Jinja2==2.10.3
keyring==18.0.1
launchpadlib==1.10.7
macaroonbakery==1.2.3
Mako==1.1.1
MarkupSafe==1.1.1
oauthlib==2.1.0
packaging==20.1
Pillow==7.0.0
pluggy==0.13.1
py==1.8.1
pycparser==2.19
PyGObject==3.34.0
pymacaroons==0.13.0
pyRFC3339==1.1
pytest==5.3.5
python-dateutil==2.8.1
python-debian==0.1.36
pytz==2019.2
pyxdg==0.26
PyYAML==5.3
request==2019.4.13
requests==2.22.0
SecretStorage==2.3.1
simplejson==3.16.0
six==1.12.0
SQLAlchemy==1.3.12
sqlparse==0.3.0
urllib3==1.25.8
virtualenv==16.7.9
wadllib==1.3.3
Werkzeug==0.16.0
WTForms==2.2.1
zipp==2.1.0

pip==19.3.1
wheel==0.32.3
Babel==2.8.0
setuptools==41.1.0