{% extends 'base.html'%}

{% block head %}
<title>Home Page</title>

<!--<link rel="stylesheet" href="{{url_for('static', filename='style.css') }}"-->
{% endblock %}
{% block search %}

<div class="navbar-nav mr-auto align-left">
    <form class="form-inline" methon="POST" action="{{ url_for('thread.search_thread', thread_id=thread.id) }}">
        <div class="form-group">
            <input type="text" class="form-control" name="query" id="query">
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>
{% endblock %}

{% block body %}
<!-- todo this need to have the title of the thread  and add a side bar for the mentors, rules and description-->
<main role="main" class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="container">
                <h2 class="navbar-brand thread-heading col-md-8">{{ thread.title }}</h2>

            </div>
            {% for post in posts %}
            <article class="media content-section">
                <img class="rounded-circle article-img"
                     src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
                <div class="media-body">
                    <div class="article-metadata">
                        <a class="mr-2" href="{{ url_for('users.user_posts', username=post.author.username) }}">{{
                            post.author.username }}</a>
                        <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
                    </div>
                    <h2><a class="article-title" href="{{ url_for('posts.post', post_id=post.id) }}">{{ post.title
                        }}</a></h2>
                    <p class="article-content">{{ post.content }}</p>
                   <div class="container row">
                        <a  href="{{ url_for('posts.up_vote', post_id=post.id, thread_id=thread.id)}}">
                            <img src="{{ url_for('static', filename='profile_pics/thumb-up.svg') }}">
                        </a>
                            <p class="article-content" class="col-sm-1"> {{ post.votes | selectattr("vote", "equalto", True) | list | count }}</p>
                        <a  href="{{ url_for('posts.down_vote', post_id=post.id, thread_id=thread.id)}}">
                        <img src="{{ url_for('static', filename='profile_pics/thumb-down.svg') }}"/>
                        </a>
                        <p class="article-content" class="col-sm-1">  <p> {{ post.votes | selectattr("vote", "equalto", False) | list | count }}</p></p>
                        <a href="{{ url_for('posts.comment', post_id=post.id) }}">
                            <img src="{{ url_for('static', filename='profile_pics/comment.svg')}}"/>
                        </a>
                        <p class="article-content" class="col-sm-1"> {{ post.comments | list | count }}</p>
                    </div>
                </div>
            </article>
            {% endfor %}
        </div>
        <div class="col-md-4">
            <!--            todo create a post section -->
            {% if current_user.image_file: %}
            <div class="content-section">
                <div class="row">
                    <img class="rounded-circle article-img"
                         src="{{ url_for('static', filename='profile_pics/' + current_user.image_file)}}"/>
                    <h3>{{ current_user.username }}</h3>
                </div>
                <a class="btn btn-outline-info mb-4" href="{{ url_for('posts.new_thread_post', thread_id=thread.id)}}">Create
                    Post</a>
            </div>
            {% endif %}
            <!-- thread rules             -->
            <div class="content-section">
                <h3>{{ thread.title }} </h3>
                <p class='text-muted'> {{ thread.description }}</p>
                {% if current_user.id == thread.user_id%}
                <a class="btn btn-outline-info mb-4" href="{{ url_for('thread.manage_thread', thread_id=thread.id) }}">Manage
                    Thread</a>
                {% endif %}
                {% for mod in moderators %}
                    {% if mod.id == current_user.id %}
                        <a class="btn btn-outline-info mb-4" href="{{ url_for('thread.manage_thread', thread_id=thread.id) }}">Moderate
                    Thread</a>
                    {% endif %}
                {% endfor %}
                <ul class="list-group">
                    {% for rule in rules%}
                    <li class="list-group-item list-group-item-light">
                        <div class="card-header" role="tab" id="heading + {{ rule.id }}">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#{{ rule.id }}"
                               aria-expanded="false" aria-controls="{{ rule.id }}">
                                <h5 class="mb-0">
                                    {{ rule.title }} <i class="fas fa-angle-down rotate-icon"></i>
                                </h5>
                            </a>
                        </div>
                        <div id="{{ rule.id }}" class="collapse" role="tabpanel"
                             aria-labelledby="heading + {{ rule.id }}"
                             data-parent="#accordionEx">
                            <div class="card-body">
                                <p>{{ rule.content }}</p>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>


            </div>
            <!--            todo moderator section -->
            <div class="content-section">
                <h3>Moderators</h3>
                <ul class="list-group">
                    {% for mod in moderators %}
                    <li class="list-group-item list-group-item-light"><a href="{{ url_for('users.user_posts', username=mod.username) }}">
                        {{ mod.username }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</main>

{% endblock %}